.contact-container{
    width: 100%;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    /* when looking at other css files check to see if the flex-wrap is actuall 
    flex-wrap or just flex-direction wrap. Because that might be throwing
    everything off */
}

.contact-iframe-container{
    --tw-bg-opacity: 1;
    background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 2.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
}

.contact-iframe{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.contact-subcontainer-text{
    --tw-bg-opacity: 1;
    background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
    position: realtive;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.contact-address-div{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.contact-h2-address{
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    letter-spacing: 0.1em;
    font-size: 0.75rem;
    line-height: 1rem;

}

.contact-address-p{
    margin-top: 0.25rem;
}

.contact-email-phone-div{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-top: 1rem;
}

.contact-h2-email{
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    letter-spacing: 0.1em;
    font-size: 0.75rem;
    line-height: 1rem;
}

.contact-myemail-text{
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    line-height: 1.625;
}
.contact-h2-phone{
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    letter-spacing: 0.1em;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 1rem;
}

.contact-phone-p{
    line-height: 1.625;
}

.contact-netlify-form{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    margin-right: 1rem;
}

.contact-h2-hireme{
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 0.25rem;
    font-weight: 500;
}

.contact-hireme-p{
    margin-bottom: 1.25rem;
    line-height: 1.625;
}

.contact-form-container{
    position: relative;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.contact-form-container-name{
    line-height: 1.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgba(156, 163, 175, var(--tw-text-opacity));
}

.contact-form-container-input{
    width:100%;
    --tw-bg-opacity: 1;
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
    border-radius: 0.25rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(55, 65, 81, var(--tw-border-opacity));
    font-size: 1rem;
    line-height: 1.5rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-text-opacity: 1;
    color: rgba(243, 244, 246, var(--tw-text-opacity));
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    line-height: 2rem;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-container-input:focus{
    --tw-border-opacity: 1;
    border-color: rgba(99, 102, 241, var(--tw-border-opacity));
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    --tw-ring-color: rgba(49, 46, 129, var(--tw-ring-opacity));
}

.contact-form-container-2{
    position: relative;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.contact-form-container-2-email{
    line-height: 1.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgba(156, 163, 175, var(--tw-text-opacity));
}

.contact-form-container-2-input{
    width:100%;
    --tw-bg-opacity: 1;
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
    border-radius: 0.25rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(55, 65, 81, var(--tw-border-opacity));
    font-size: 1rem;
    line-height: 1.5rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-text-opacity: 1;
    color: rgba(243, 244, 246, var(--tw-text-opacity));
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    line-height: 2rem;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-container-2-input:focus{
    --tw-border-opacity: 1;
    border-color: rgba(99, 102, 241, var(--tw-border-opacity));
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    --tw-ring-color: rgba(49, 46, 129, var(--tw-ring-opacity));
}
.contact-form-container-3{
    position: relative;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.contact-form-container-3-message{
    line-height: 1.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgba(156, 163, 175, var(--tw-text-opacity));
}

.contact-form-container-3-message-textarea{
    width:100%;
    --tw-bg-opacity: 1;
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
    border-radius: 0.25rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(55, 65, 81, var(--tw-border-opacity));
    font-size: 1rem;
    line-height: 1.5rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-text-opacity: 1;
    color: rgba(243, 244, 246, var(--tw-text-opacity));
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    line-height: 2rem;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-container-3-message-textarea:focus{
    --tw-border-opacity: 1;
    border-color: rgba(99, 102, 241, var(--tw-border-opacity));
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    --tw-ring-color: rgba(49, 46, 129, var(--tw-ring-opacity));
}

.contact-form-container-submit-button{
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(99, 102, 241, var(--tw-bg-opacity));
    border-width: 0px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.contact-form-container-submit-button:focus{
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.contact-form-container-submit-button:hover{
    --tw-bg-opacity: 1;
    background-color: rgba(79, 70, 229, var(--tw-bg-opacity));
}

    
@media (min-width: 640px) {
    .contact-container{
        flex-wrap:nowrap;
    }

    .contact-iframe-container{
        margin-right: 2.5rem;
    }

    .contact-h2-hireme{
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}

@media (min-width: 768px) {
    .contact-iframe-container{
        width: 50%;
    }

    .contact-netlify-form{
        width: 50%;
        margin-left: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-top: 2rem;
    }
}

@media (min-width: 1024px) {
    .contact-iframe-container{
        width: 66.666667%;
    }

    .contact-address-div{
        width: 50%;
        
    }

    .contact-email-phone-div{
        width:50%;
        margin-top: 0;
    }

    .contact-netlify-form{
        width: 33.3333%
    }
}